<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CompareWebServiceSoap" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="CompareWebServiceWCF" messageEncoding="Mtom">
          <reliableSession enabled="true" />
        </binding>
        <binding name="WSHttpBinding_IComparerChunked" messageEncoding="Mtom">
          <reliableSession enabled="true" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8889/Comparer/Compare5" binding="wsHttpBinding"
        bindingConfiguration="CompareWebServiceWCF" contract="ComparerProxy.IComparer"
        name="CompareWebServiceWCF">
        <identity>
          <userPrincipalName value="rattus\robin" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8889/Comparer" binding="basicHttpBinding"
        bindingConfiguration="CompareWebServiceSoap" contract="ComparerProxy.ILegacyComparer"
        name="CompareWebServiceSoap" />
      <endpoint address="http://localhost:8080/Comparer/Chunked" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IComparerChunked" contract="ComparerProxy.IComparerChunked"
        name="WSHttpBinding_IComparerChunked">
        <identity>
          <userPrincipalName value="rattus\robin" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
