<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="EndpointConfig" value="CompareWebServiceWCF" />
    <add key="EndpointAddress" value="http://localhost:8080/Comparer/Compare5" />
    <add key="LogsDirectory" value="C:\ProgramData\Workshare\Compare Service\logs" />
    <add key="RecordsPerPage" value="10" />
    <add key="AdminRole" value="Administrators" />
    <add key="renderset.path" value="C:\ProgramData\Workshare\Compare Service\Rendering Sets" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
  </appSettings>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <httpRuntime maxRequestLength="10960" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <identity impersonate="false" />
    <authentication mode="Windows">
    </authentication>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear />
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false" defaultProvider="DefaultRoleProvider">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILegacyComparer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Comparer5"  closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:10:00" receiveTimeout="00:10:00"
                 maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                 messageEncoding="Text"   transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IComparer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
        <binding name="NetNamedPipeBinding_IComparerChunked" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IComparer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="Message">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IComparerChunked" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="Message">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IComparer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" messageEncoding="Mtom" allowCookies="false" maxReceivedMessageSize="167772160" maxBufferPoolSize="167772160">
          <readerQuotas maxDepth="4096" maxStringContentLength="134217728" maxArrayLength="134217728" maxBytesPerRead="134217728" maxNameTableCharCount="134217728" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IComparerChunked" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Comparer" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILegacyComparer" contract="ComparerProxy.ILegacyComparer" name="BasicHttpBinding_ILegacyComparer" />
      <endpoint address="http://localhost:8080/Comparer/Compare5" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Comparer5" contract="ComparerProxy.IComparer" name="CompareWebServiceWCF">
        <identity>
          <servicePrincipalName value="host/CompareServer.workshare-dc.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/Comparer/Compare5" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IComparer" contract="ComparerProxy.IComparer" name="NetTcpBinding_IComparer">
        <identity>
          <servicePrincipalName value="host/CompareServer.workshare-dc.com" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/Comparer/Compare5" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IComparer" contract="ComparerProxy.IComparer" name="NetNamedPipeBinding_IComparer">
        <identity>
          <servicePrincipalName value="host/CompareServer.workshare-dc.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/Comparer/Chunked" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IComparerChunked" contract="ComparerProxy.IComparerChunked" name="WSHttpBinding_IComparerChunked">
        <identity>
          <servicePrincipalName value="host/CompareServer.workshare-dc.com" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8090/Comparer/Chunked" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IComparerChunked" contract="ComparerProxy.IComparerChunked" name="NetTcpBinding_IComparerChunked">
        <identity>
          <servicePrincipalName value="host/CompareServer.workshare-dc.com" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/Comparer/Chunked" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IComparerChunked" contract="ComparerProxy.IComparerChunked" name="NetNamedPipeBinding_IComparerChunked">
        <identity>
          <servicePrincipalName value="host/CompareServer.workshare-dc.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web.extensions />
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <clear />
      <error statusCode="401" subStatusCode="1" path="Content\ErrorPages\IIS7\401-1.htm" />
      <error statusCode="401" subStatusCode="2" path="Content\ErrorPages\IIS7\401-2.htm" />
      <error statusCode="401" subStatusCode="3" path="Content\ErrorPages\IIS7\401-3.htm" />
      <error statusCode="401" subStatusCode="4" path="Content\ErrorPages\IIS7\401-4.htm" />
      <error statusCode="401" subStatusCode="5" path="Content\ErrorPages\IIS7\401-5.htm" />
      <error statusCode="401" path="Content\ErrorPages\IIS7\401.htm" />
      <error statusCode="403" subStatusCode="1" path="Content\ErrorPages\IIS7\403-1.htm" />
      <error statusCode="403" subStatusCode="10" path="Content\ErrorPages\IIS7\403-10.htm" />
      <error statusCode="403" subStatusCode="11" path="Content\ErrorPages\IIS7\403-11.htm" />
      <error statusCode="403" subStatusCode="12" path="Content\ErrorPages\IIS7\403-12.htm" />
      <error statusCode="403" subStatusCode="13" path="Content\ErrorPages\IIS7\403-13.htm" />
      <error statusCode="403" subStatusCode="14" path="Content\ErrorPages\IIS7\403-14.htm" />
      <error statusCode="403" subStatusCode="15" path="Content\ErrorPages\IIS7\403-15.htm" />
      <error statusCode="403" subStatusCode="16" path="Content\ErrorPages\IIS7\403-16.htm" />
      <error statusCode="403" subStatusCode="17" path="Content\ErrorPages\IIS7\403-17.htm" />
      <error statusCode="403" subStatusCode="18" path="Content\ErrorPages\IIS7\403-18.htm" />
      <error statusCode="403" subStatusCode="19" path="Content\ErrorPages\IIS7\403-19.htm" />
      <error statusCode="403" subStatusCode="2" path="Content\ErrorPages\IIS7\403-2.htm" />
      <error statusCode="403" subStatusCode="3" path="Content\ErrorPages\IIS7\403-3.htm" />
      <error statusCode="403" subStatusCode="4" path="Content\ErrorPages\IIS7\403-4.htm" />
      <error statusCode="403" subStatusCode="5" path="Content\ErrorPages\IIS7\403-5.htm" />
      <error statusCode="403" subStatusCode="6" path="Content\ErrorPages\IIS7\403-6.htm" />
      <error statusCode="403" subStatusCode="7" path="Content\ErrorPages\IIS7\403-7.htm" />
      <error statusCode="403" subStatusCode="8" path="Content\ErrorPages\IIS7\403-8.htm" />
      <error statusCode="403" subStatusCode="9" path="Content\ErrorPages\IIS7\403-9.htm" />
      <error statusCode="403" path="Content\ErrorPages\IIS7\403.htm" />
      <error statusCode="404" subStatusCode="1" path="Content\ErrorPages\IIS7\404-1.htm" />
      <error statusCode="404" subStatusCode="10" path="Content\ErrorPages\IIS7\404-10.htm" />
      <error statusCode="404" subStatusCode="11" path="Content\ErrorPages\IIS7\404-11.htm" />
      <error statusCode="404" subStatusCode="12" path="Content\ErrorPages\IIS7\404-12.htm" />
      <error statusCode="404" subStatusCode="13" path="Content\ErrorPages\IIS7\404-13.htm" />
      <error statusCode="404" subStatusCode="14" path="Content\ErrorPages\IIS7\404-14.htm" />
      <error statusCode="404" subStatusCode="15" path="Content\ErrorPages\IIS7\404-15.htm" />
      <error statusCode="404" subStatusCode="2" path="Content\ErrorPages\IIS7\404-2.htm" />
      <error statusCode="404" subStatusCode="3" path="Content\ErrorPages\IIS7\404-3.htm" />
      <error statusCode="404" subStatusCode="4" path="Content\ErrorPages\IIS7\404-4.htm" />
      <error statusCode="404" subStatusCode="5" path="Content\ErrorPages\IIS7\404-5.htm" />
      <error statusCode="404" subStatusCode="6" path="Content\ErrorPages\IIS7\404-6.htm" />
      <error statusCode="404" subStatusCode="7" path="Content\ErrorPages\IIS7\404-7.htm" />
      <error statusCode="404" subStatusCode="8" path="Content\ErrorPages\IIS7\404-8.htm" />
      <error statusCode="404" subStatusCode="9" path="Content\ErrorPages\IIS7\404-9.htm" />
      <error statusCode="404" path="Content\ErrorPages\IIS7\404.htm" />
      <error statusCode="405" path="Content\ErrorPages\IIS7\405.htm" />
      <error statusCode="406" path="Content\ErrorPages\IIS7\406.htm" />
      <error statusCode="412" path="Content\ErrorPages\IIS7\412.htm" />
      <error statusCode="500" subStatusCode="100" path="Content\ErrorPages\IIS7\500-100.htm" />
      <error statusCode="500" subStatusCode="13" path="Content\ErrorPages\IIS7\500-13.htm" />
      <error statusCode="500" subStatusCode="14" path="Content\ErrorPages\IIS7\500-14.htm" />
      <error statusCode="500" subStatusCode="15" path="Content\ErrorPages\IIS7\500-15.htm" />
      <error statusCode="500" subStatusCode="16" path="Content\ErrorPages\IIS7\500-16.htm" />
      <error statusCode="500" subStatusCode="17" path="Content\ErrorPages\IIS7\500-17.htm" />
      <error statusCode="500" subStatusCode="18" path="Content\ErrorPages\IIS7\500-18.htm" />
      <error statusCode="500" subStatusCode="19" path="Content\ErrorPages\IIS7\500-19.htm" />
      <error statusCode="500" path="Content\ErrorPages\IIS7\500.htm" />
      <error statusCode="501" path="Content\ErrorPages\IIS7\501.htm" />
      <error statusCode="502" path="Content\ErrorPages\IIS7\502.htm" />
    </httpErrors>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="WebAdminTrace" switchName="wcsSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\log\WebAdminTracer.svclog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="wcsSwitch" value="Warning, Error, Information" />
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CompareServer.WebAdmin-20140514140025;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CompareServer.WebAdmin-20140514140025.mdf" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>