<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SampleWCF" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="67000" maxBufferPoolSize="67000" maxReceivedMessageSize="67000"
                    messageEncoding="Mtom" textEncoding="utf-8" transferMode="Streamed"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="67000"
                        maxBytesPerRead="4096" maxNameTableCharCount="67000" />
                    <security mode="None">
                        <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ln1-dev402.wsdev.net/StreamingService/LoadingService.svc"
                binding="basicHttpBinding" bindingConfiguration="SampleWCF"
                contract="ServiceProxy.ILoadingService" name="SampleWCF" />
        </client>
    </system.serviceModel>
</configuration>