<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">    
    <alias alias="IUnityContainer" type="Microsoft.Practices.Unity.IUnityContainer, Microsoft.Practices.Unity, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <alias alias="ILogger" type="CompareServer.Interfaces.ILogger, CompareServer.Interfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <alias alias="Logger" type="CompareServer.Logger, CompareServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <assembly name="CompareServer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <assembly name="CompareServer.Interfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <container>
      <register type="IUnityContainer" mapTo="IUnityContainer">
        <lifetime type="Microsoft.Practices.Unity.UnityDefaultBehaviorExtension+ContainerLifetimeManager, Microsoft.Practices.Unity, Version=2.1.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </register>
      <register type="ILogger" mapTo="Logger">
        <lifetime type="singleton"/>
        <constructor>
          <param type="string" name="sourceName" value="WebClientTrace" />
        </constructor>
      </register>
    </container>
  </unity>
</configuration>
